.brand {
  font-size: 18px;
  text-align: center;
  letter-spacing: 5px;
}
.input-bar{
  height:150px;
  border: 1px solid #ccc;
}
.toolbox{
  margin-top: 5px;
  line-height: 10px;
  font-size: 14px;
  position: absolute;
  z-index: 9999;
}
.var_input{
  width:20px;
}
h4{
  margin-top:0;
  padding-left:5px;
}
.template{
  padding-left:5px;
}